// COLORS

$pa-white: #ffffff;
$pa-white-soft: #f8f8f8;
$pa-white-mute: #f2f2f2;
$pa-black: #181818;
$pa-black-soft: #222222;
$pa-black-mute: #282828;
$pa-green-soft: #1fa01a;


$pa-indigo: #2c3e50;
$pa-indigo-2: #46617c;
$pa-indigo-3: #6491be;
$pa-divider-light-1: rgba(60, 60, 60, 0.29);
$pa-divider-light-2: rgba(60, 60, 60, 0.12);
$pa-divider-dark-1: rgba(84, 84, 84, 0.65);
$pa-divider-dark-2: rgba(84, 84, 84, 0.48);
$pa-text-light-1: $pa-indigo;
$pa-text-light-2: rgba(60, 60, 60, 0.66);
$pa-text-dark-1: $pa-white;
$pa-text-dark-2: rgba(235, 235, 235, 0.64);



// SIZES

$pa-s-1: 1rem;
$pa-s-2: 2rem;
$pa-s-3: 3rem;
$pa-s-4: 4rem;
$pa-s-5: 5rem;